body {
    font-family: Courier;
    background: url("/images/rocket_clouds1.png");
    background-size: cover;
    background-position: center 30%;
    
}

#header {
    width: 100%;
 
}

#rbutton {
    top: 30px;
    position: relative;
    margin-left: 484px;;
    text-align: center:
    
}

#nextb{
    margin-left: 472px;
}

#score {
    float:right;
    margin-right: 20px;
    width: 150px;
}

#gameArea {
    clear: both;
    width: 100%;
    height: 550px;
    padding: 0;
    text-align: center;
}

#game_canvas {
}
