body {
    font-family: Courier;
    
}

#gameArea {
    margin: 0 auto;
    width: 1210px;
    height: 550px;
    padding: 0;
}

#game_canvas {
    margin: 0 auto;
    margin-left: 25%;
    padding: 0;
}

#points {
    position: abosolute;
    width: 100%;
    height: 8%;
    bottom: 0;
    opacity: 0.8;
}